DEBUG=True
SECRET_KEY=change-me-in-production
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=videoflix
DB_USER=videoflix_user
DB_PASSWORD=videoflix_pass
DB_HOST=db
DB_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@example.com
EMAIL_HOST_PASSWORD=your-app-password

FRONTEND_URL=http://localhost:4200
